@import "styles";

.ng-untouched:not(form) {
  border-left: 5px solid $primary;
}

.ng-valid:not(form).ng-dirty {
  border-left: 5px solid $success
}

.ng-invalid:not(form).ng-touched {
  border-left: 5px solid $danger;
}
