  <div class="jumbotron bg-dark" style="margin-top:60px;margin-bottom:0px;height:90vh;">
  <div class="container">
    <div class="row justify-content-center">
      <img src="assets/my_logo.png" style="height:51px;width:300px;">
      <!-- <img src="assets/my_logo.png" style="width:70vw;max-width:450px;"> -->
    </div>
    <div class="row justify-content-center">
      <app-animated-typing [roles]="roles" [cursor]="'light'" [text]="'secondary'"></app-animated-typing>
    </div>
    <hr class="my-4 bg-primary" style="max-width:600px">
    <div class="row justify-content-center">
      <p class="lead">
        <a class="mx-2 mb-4 btn btn-secondary btn-md border border-light text-dark" (click)="open('resume')"
          role="button">Resume</a>
        <a class="mx-2 mb-4 btn btn-dark btn-md border border-light text-secondary" (click)="open('github')"
          role="button">GitHub</a>
        <a class="mx-2 mb-4 btn btn-dark btn-md border border-light text-secondary" (click)="open('linkedin')"
          role="button">LinkedIn</a>
      </p>
    </div>
  </div>
</div>
