/* import the necessary Bootstrap files */
@import "~bootstrap/scss/functions";

$primary:   #b0deff;
$secondary: #ffc5a1;
$success:   #7ed3b2;
$info:      #ffd19a;
$warning:   #fff8a6;
$danger:    #ef6c57;
$light:     #f2f2f2;
$dark:      #264e70;

$theme-colors: (
  primary:    $primary,
  secondary:  $secondary,
  success:    $success,
  info:       $info,
  warning:    $warning,
  danger:     $danger,
  light:      $light,
  dark:       $dark
);

$colors: (
  "white": $light
);

$navbar-dark-color:                 $light !default;
$navbar-dark-hover-color:           $dark !default;
$navbar-dark-active-color:          $dark !default;
// $navbar-dark-disabled-color:        rgba($white, .25) !default;
$navbar-dark-toggler-icon-bg:       str-replace(url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='#{$navbar-dark-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"), "#", "%23") !default;
$navbar-dark-toggler-border-color:  $light !default;

$navbar-light-color:                $dark !default;
$navbar-light-hover-color:          $light !default;
$navbar-light-active-color:         $light !default;
// $navbar-light-disabled-color:       rgba($black, .3) !default;
$navbar-light-toggler-icon-bg:      str-replace(url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='#{$navbar-light-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"), "#", "%23") !default;
$navbar-light-toggler-border-color: $dark !default;

/* finally, import Bootstrap */
@import "~bootstrap/scss/bootstrap";

body {
  // background-image: url('assets/beach.jpg');
  background-size: 100vw;
  background-repeat: no-repeat;
  background-color: $light;
}
